body {
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  margin: 0;
}

div, p {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0;
}

p {
  color: #777;
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
}

.navbar-top {
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: #df678c;
  color: #fff;
  z-index: 1;
  top: 0;
  padding: 0 50px;
}

.navbar-top a {
  color: #fff;
}

.navbar-top .container {
  display: flex;
  justify-content: space-between;
}

.navbar-top div {
  line-height: 50px;
}

.navbar {
  position: absolute;
  width: 100%;
  background-color: #3c1053;
  z-index: 1;
  top: 50px;
}

.navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  margin: 0 -10px;
}

.navbar-small {
  height: 105px;
}

.navbar-small a {
  line-height: 105px;
}

.navbar-small #logo img {
  height: 45px;
}

.navbar a:hover {
  text-decoration: none;
}

.hero {
  position: absolute;
  top: 0;
  background-image: url("../images/woman-white-wall-2k.jpg");
  background-size: cover;
  background-position: -150px 0px;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.navbar-nav {
  display: flex;
  margin: 0;
  padding-left: 0px;
  justify-content: center;
}

#logo {
  display: block;
  padding: 0;
}

.nav-item.nav-link,
.navbar-nav li>a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #fff !important;
  letter-spacing: 1.5px;
  margin-left: 40px;
  white-space: nowrap;
}

@media (min-width: 992px) {
  .img.floating-image {
    width: 90%;
  }
}

img.floating-image {
  width: 100%;
}

.btn {
  color: #fff;
  border: none;
  padding: 15px 20px;
  background-color: #3c1053;
  font-size: 20px;
  font-weight: bold;
}

.btn:hover:enabled, .btn:active {
  background-color: #df678c;
  border: none !important;
  box-shadow: none !important;
}

.footer {
  background-color: #fff;
  padding: 50px;
  color: #aaa;
  line-height: 18px;
}

.footer-bottom {
  background-color: #f5f5f5;
  padding: 25px 50px;
}

.footer-heading {
  font-weight: bold;
  margin-bottom: 5px;
}

.footer a {
  color: #aaa;
}

.footer-nav a {
  color: #a8b3ba !important;
  line-height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-copyright {
  margin-top: 20px;
}

@media (min-width: 992px) {
  .footer-links {
    margin-left: 0px;
  }

  .footer-copyright {
    float: left;
  }

  .btn-form {
    font-size: 18px;
    margin-top: 20px;
  }
}

.projects-sidebar {
  margin-bottom: 50px;
}

.projects-sidebar a,
.projects-sidebar span {
  text-decoration: none !important;
  display: block;
  padding: 10px 15px;
  color: #212529;
  background-color: #eee;
}

.projects-sidebar a:hover,
.projects-sidebar a.sidebar-sublink:hover {
  color: #fff;
  background-color: #723e9a !important;
}


.projects-sidebar a.sidebar-sublink {
  padding-left: 40px;
}

.projects-sidebar a.sidebar-sublink-2 {
  padding-left: 65px;
}

.cookies {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #204f8d;
  color: #fff;
  padding: 15px 40px;
}

.cookies-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .cookies-buttons {
    margin-top: 0px;
  }
}

.btn-on-blue {
  padding: .375rem .75rem !important;
  margin-bottom: 0px;
  margin-right: 10px;
}

.btn-on-blue:hover:enabled {
  background-color: #fff !important;
  color: #2761ab !important;
}

.dropdown-menu {
  margin-top: 0;
  border-radius: 0;
  width: 250px;
  text-align: center;
  left: 50%;
  margin-left: -105px;
}

.dropdown-item {
  padding: .5rem 1.5rem;
}

@media (min-width: 576px) {
  .dropdown-item:hover,
  .dropdown-item:active {
    background-color: #2761ab;
    color: #fff;
  }
}

@media (max-width: 576px) {
  .dropdown-item:hover,
  .dropdown-item:active {
    background-color: transparent;
    color: #212529;
  }
}

.footer-headings {
  color: #a8b3ba;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}

.footer-links {
  line-height: 40px;
}

.footer-links a {
  color: #a8b3ba;
}

@media (max-width: 992px) {
  .navbar-nav-scroll {
    max-width: 100%;
  }

  .navbar-nav a {
    padding: 10px 0;
  }

  .navbar-nav a:first-child {
    margin-left: 0px;
  }
}

.subnav {
  display: none;
  padding: 15px 0px;
}

.nav-mobile .nav-item {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .entidades-colaboradoras a {
    display: block;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .entidades-colaboradoras {
    margin-bottom: -40px;
  }
}

@media (min-width: 768px) {
  .entidades-colaboradoras a {
    margin-left: 20px;
  }
}

.contact-text {
  color: #a8b3ba;
  font-size: 16px;
  margin-bottom: 30px;
}

.contact-text-white {
  color: #fff;
  font-size: 16px;
  font-weight: 500px;
  margin: 10px 0px;
}

@media (max-width: 576px) {
  .contact-text {
    font-size: 14px;
  }

  .contact-text-white {
    font-size: 14px;
  }
}

h2.contact-title {
  font-size: 30px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .footer-link-one-line {
    display: block;
    margin-bottom: 15px;
  }
}

@media (min-width: 576px) {
  .footer-link-one-line {
    padding-right: 15px;
  }
}

.popover {
  border: none;
  max-width: 400px;
}

.popover-body {
  background: #ef5d66;
  color: #fff;
}

.fa-exclamation-triangle {
  padding-right: 5px;
}

.bs-popover-auto[x-placement^=bottom] .arrow::after, .bs-popover-bottom .arrow::after {
  border-bottom-color: #ef5d66;
}

.bs-popover-auto[x-placement^=bottom] .arrow::before, .bs-popover-bottom .arrow::before {
  border-bottom: none;
}

#termsPopover {
  display: none;
  position: relative;
}

.dropdown-toggle::after {
  margin-left: 5px !important;
}

@media (max-width: 992px) {
  .nav-link {
    display: inline-block;
  }

  .navbar-nav-scroll {
    height: auto;
  }

  .navbar-nav-scroll .navbar-nav {
    display: block;
    white-space: normal;
    text-align: center;
    padding-bottom: 0;
  }
}

#footer-links {
  line-height: 40px;
}

@media (min-width: 992px) {
  .fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

@media (max-width: 992px) {
  .nav-mobile {
    width: 100%;
  }
}

#estado-optimo {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 487px;
  background-image: url("../images/estado-optimo.svg");
  background-color: #f6a16b;
  background-size: cover;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 0 60px;
  line-height: 2;
  margin-top: 30px;
}

.header {
  padding: 40px 0;
  text-align: center;
}

.header h1 {
  color: #fff;
}

.secondary-bg {
  background: #f5f5f5;
  color: #333;
}

.primary-bg {
  background: #fff;
  color: #666;
}

.quote {
  border-left: 5px solid #723e9a;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-bottom: 30px;
}

.quote>div {
  margin-top: 20px;
  font-weight: bold;
}

.team-member-card {
  background: #ddd;
  width: 100%;
  margin-bottom: 50px;
  background-color: #2e3e4a;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2), 0 15px 35px 0 rgba(0, 0, 0, 0.2), 0 50px 100px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.team-member-name {
  color: #fff;
  margin-bottom: 10px;
}

.team-member-card>img {
  width: 100%;
}

.team-member-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  padding:0 10px;
}

.team-member-title {
  font-size: 16px;
}

#social-icons {
  font-size: 35px;
  line-height: 80px;
}

.white-link,
.white-link:hover {
  color: white;
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-container {
  grid-template-columns: repeat(5, 1fr);
}

.nav-item>a {
  display: inline-block;
  line-height: 83px;
}

.nav-item>a:hover {
  text-decoration: none;
}

h1, h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #3c1053;
}

h3 {
  color: #3c1053;
  font-size: 1.4rem;
  font-weight: bold;
}

.secondary-bg h1, .secondary-bg h2 {
  color: #3c1053;
}

h5 {
  font-size: 1.25rem;
}

.navbar ul {
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
}

.col-6 {
  grid-column:  4 / 10;
}

.col-8 {
  grid-column: 2 / 12;
}

.navbar-brand {
  padding: 24px 0px;
  line-height: 35px;
}

.navbar-brand>img {
  display: block;
}

.footer img {
  display: block;
}

#social-icons a {
  margin-left: 40px;
  line-height: 100px;
}

input, textarea {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 6px 12px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#footer-main {
  grid-column: 1 / 13;
}

.contact-form {
  padding: 50px;
  background-color: #fff;
  font-size: 18px;
}

input, textarea {
  font-family: 'Montserrat', sans-serif;
}

.popover {
  position: absolute;
  z-index: 1060;
  line-height: 18px;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: .875rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  will-change: transform;
  display: none;
/*  transform: translate3d(375px, 3026px, 0px);
*/}

.popover-body>* {
  vertical-align: middle;
  line-height: 30px;
}

.bs-popover-bottom {
  margin-top: .5rem;
}

.popover .arrow {
  position: absolute;
  display: block;
  width: 16px;
  height: .5rem;
  margin: 0 .3rem;
  top: calc(-.5rem - 1px);
  left: 50%;
  margin-left: -8px;
}

.popover-body {
  padding: .5rem .75rem;
  color: #212529;
  background: #ef5d66;
  color: #fff;
}

.popover .arrow::after, .popover .arrow::before {
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    border-style: solid;
}

.bs-popover-auto[x-placement^=bottom]>.arrow::after, .bs-popover-bottom>.arrow::after {
    top: 1px;
    border-width: 0 .5rem .5rem .5rem;
    border-bottom-color: #fff;
}

.bs-popover-auto[x-placement^=bottom] .arrow::after, .bs-popover-bottom .arrow::after {
    border-bottom-color: #ef5d66;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.form-group {
  position: relative;
}

.partner-container {
  width: 100%;
  padding: 0 25px;
}

.partner {
  margin: 0 auto;
}

.partner img {
  height: 150px;
}

#home .partner img {
  opacity: 0.7;
}

#copyright {
  font-size: 14px;
}

#message>div {
  background-color: #f5f5f5;
  padding: 40px;
  padding-top: 30px;
  border-radius: 20px;
  border-top-left-radius: 0;
  color: #888;
  font-size: 16px;
  line-height: 1.8;
}

.vision-container {
  background-color: #f5f5f5;
}

#partners-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

#mission {
  padding-top: 50px;
  padding-bottom: 50px;
}

#contact {
  background-color: #f5f5f5;
  padding: 50px;
}

.message-arrow {
  position: absolute;
  top: 0;
  left: -25px;
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-top: 40px solid #f5f5f5;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
}

tr {
  line-height: 50px;
}

th {
  background-color: #3c1053;
  color: #fff;
  font-weight: bold;
}

td, th {
  border: none;
  text-align: left;
  padding: 10px 25px;
}

td {
  color: #666;
}

tr:nth-child(odd) {
  background-color: #f5f5f5;
}

table a {
  font-weight: bold;
}
