body {
	padding-top: 0;
}

#estado-optimo {
  font-size: 22px;
  padding: 0 20px;
}

.navbar .container {
  padding: 13px 30px 8px;
  line-height: 20px;
}

.footer {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.hero {
  padding: 60px 0;
}

.navbar-brand {
  padding-top: 20px;
  padding-bottom: 20px;
}

h2.contact-title {
  font-size: 20px;
}

h2 {
  font-size: 28px;
}

.footer-links-container {
  display: block;
  margin-bottom: 10px;
}

.header {
  padding: 60px 0;
}

.team-member-title {
  font-size: 14px;
}

.col-mobile-12 {
  grid-column: 1 / 13;
}

#footer-logo>img {
  margin-left: auto;
  margin-right: auto;
}

#social-icons {
  grid-column: 1 / 13;
}

#social-icons a {
  margin: 0 20px;
}

.hero>.container>div {
  grid-column: 2 / 12;
}

.navbar-brand {
  grid-column: 1 / 13;
  margin: 0 auto;
}

.nav-mobile {
  grid-column: 1 / 13;
}

.contact {
  grid-column: 2 / 12;
}

.map {
  grid-column: 2 / 12;
}

.projects-sidebar {
  grid-column: 2 / 12;
}

.project {
  grid-column: 2 / 12;
}

.team-container {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  padding: 0 20px;
}

#logo img {
  margin: 20px auto;
}

.nav-desktop {
  display: none;
}

.hero {
  position: static;
  height: 500px;
  background-image: url("../images/woman-white-wall-2k-mobile.jpg");
  background-position: 50% 50%;
}

.navbar {
  position: relative;
  top: 0px;
}

.navbar-top {
  position: static;
}

.hero-heading {
  display: none;
}

.navbar-nav a {
  padding: 10px 0;
}

#hero-mobile {
  padding: 20px;
  background-color: #df678c;
  font-size: 26px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

#mission {
  padding-top: 30px;
}

.container {
  padding: 0 60px;
}


.partners {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-container img {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 300px;
}

#copyright {
  margin-bottom: 20px;
}


.footer-container>div {
  margin-bottom: 40px;
}

.footer {
  padding: 40px;
  padding-bottom: 0;
}

#about {
  padding-top: 30px;
  padding-bottom: 30px;
}

.vision-container {
  padding: 30px 0;
}


#partners-container {
  padding-top: 30px;
}